.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    padding: 18px 15px;
    margin: 0 auto;
    height: 100%;
}

.flag-inner {
    position: relative;
    width: 600px;
    height: 300px;
    /* background-color: black; */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}






.flag__circle-left-top {
    position: absolute;
    top: 50px;
    left: 140px;
    transform: rotate(128deg);
}
.flag__circle-left-top span {
    position: relative;
    display: block;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-left-top span::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-left-top span::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 52px;
    height: 5px;
    background-color: black;
}


.flag__circle-left-bottom {
    position: absolute;
    bottom: 50px;
    left: 140px;
    transform: rotate(234deg);
}
.flag__circle-left-bottom span {
    position: relative;
    display: block;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-left-bottom span::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-left-bottom span::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 52px;
    height: 5px;
    background-color: black;
}



.flag__circle-right-top {
    position: absolute;
    top: 50px;
    right: 140px;
    transform: rotate(232deg);
}
.flag__circle-right-top span {
    position: relative;
    display: block;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-right-top span::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-right-top span::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 52px;
    height: 5px;
    background-color: black;
}




.flag__circle-right-bottom {
    position: absolute;
    bottom: 50px;
    right: 140px;
    transform: rotate(308deg);
}
.flag__circle-right-bottom span {
    position: relative;
    display: block;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-right-bottom span::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 52px;
    height: 5px;
    background-color: black;
}
.flag__circle-right-bottom span::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 52px;
    height: 5px;
    background-color: black;
}










.flag__circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.flag__circle-top {
    position: absolute;
    /* top: -10px; */
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 100%;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: rotate(270deg);
}
.flag__circle-top::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 10;
    right: 40px;
    bottom: 0;
    border-radius: 100%;
    background-color: blue;
}
.flag__circle-bottom {
    position: absolute;
    /* top: 10px; */
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: blue;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    transform: rotate(90deg);
}
.flag__circle-bottom::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 10;
    right: 28%;
    bottom: 0;
    border-radius: 100%;
    background-color: red;
}